<h1>Person Validation</h1>

<form>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="basicInputActive">First Name</label>
                <input type="text" [(ngModel)]="model.firstName" handleValidation required name="FirstName" class="form-control" id="basicInputActive" placeholder="First Name">
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label for="basicInput">Last Name</label>
                <input type="text" [(ngModel)]="model.lasName" handleValidation required name="LastName" class="form-control" id="basicInputActive" placeholder="Last Name">
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label for="basicInput">Nickname</label>
                <input type="text" [(ngModel)]="model.nickname" handleValidation required name="Nickname" class="form-control" id="basicInputActive" placeholder="Nickname">
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label for="basicInput">Email</label>
                <input type="text" [(ngModel)]="model.email" handleValidation required name="Email" class="form-control" id="basicInputActive" placeholder="Email">
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" (click)="update()" >Save</button>
</form>
<div class="form-group has-error" handleValidation>
    <p class="help-block text-center"></p>
</div>